@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #11221a;
}
::-webkit-scrollbar-thumb {
  background: #234836;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2f5e46;
}
